[Desktop Entry]
Encoding=UTF-8
Name=Charles
Exec="/home/kevin/.opt/charles/bin/charles" %f
Icon=/home/kevin/git_project/wan/for_me/home/logo-gclife.png
Terminal=false
Type=Application
Categories=Application;

