[Desktop Entry]
Name=OSS Browser
Comment=Aliyun OSS Browser 
Type=Application
Categories=Office;
Exec=/home/kevin/.opt/oss-browser-linux-x64/oss-browser %F
Icon=/home/kevin/.opt/oss-browser-linux-x64/resources/custom/icon.png
Terminal=false

