[Desktop Entry]
Version=1.0
Type=Application
Name=pgAdmin
Icon=/home/kevin/git_project/wan/for_me/home/logo-gclife.png
Exec="/usr/bin/pgadmin4" %f
Comment=The Drive to Develop
Categories=Development;
Terminal=false
