[Desktop Entry]
Encoding=UTF-8
Version=8.0
Name=xmind
Comment=xMind8
Exec="/home/kevin/.opt/xmind/XMind_amd64/XMind" %f
Icon=/home/kevin/git_project/wan/for_me/home/logo-gclife.png
Terminal=false
Type=Application
Categories=Application;

